body{
    background-color: gainsboro;
    margin-left: 20px;
}

.contenedor{
    padding: 60px;
    width: 600px;
    height: 300px;

    border: 1px solid red;
}

.btn{ 
    padding: 16px 22px;
}

.ingreso-datos{
    margin: 15px 75px;
}